@font-face {
    font-family: 'Arcade';
    font-style: normal;
    font-weight: 600;
    src:url(../fonts/Spacerace/title.TTF);
}
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    src:
      local('Aveni'),
      local('AvenirLTStd-Book'),
      url(../fonts/Spacerace/arcade.TTF);
}

.MetaWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height: auto;

}
.GameTitleContainer {
    width:100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.GameTitle{
    font-family: Arcade;
    justify-content: center;
	height:15vh;
	width:100vw;
    display:flex;
    flex-direction: column;
    color: #326BAE;		

}


.GameTitle p{
    font-size: 190px;	
	font-weight: 600;	
	line-height: 1000px;
	margin-top:-8vh;
    margin-top:-10vh;
    letter-spacing: 8px; 
    padding-bottom: 5vh; 
    display:flex;
    flex-direction: column;
    text-align: center;
}

.TextBoxContainer {
    display: flex;
    justify-content: center;
    font-size: 200px;	
    letter-spacing: 4.88px;	
    line-height: 300px;
}

.TextBox {
    font-family: "Avenir Next";
    height: 15vh;
    width: 55vw;
    color: #4A4A4A;
    padding-top: 8vh; 
    text-align: center;

}
.TextBox p{
    
    font-family: "Avenir Next";
    color: #4A4A4A;
    font-size: 45px;
    line-height: 80px;
    text-align: center;

}
